
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(235, 235, 235) ;
}

#caculator{
    font-family: arial,sans-serif;
    background-color: rgb(53, 52, 52);
    border-radius: 20px;
    overflow: hidden;
   max-width: 400px;
 

}

#display{
    color: white;
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: rgb(85, 85, 85);

}


#keys{
    padding: 20px;
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(4,1fr) ;
 justify-self: center;
 align-self: center;
   gap: 20px;
  
}


button{
    color: white;
   width: 70px;
   height: 70px;
   
    border-radius: 50%;
    border: none;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(146, 146, 146);

}
button:active{
    background-color: rgb(255, 0, 0);
}

button:hover{
    background-color: rgb(37, 37, 37);
}

.operatorbtn{
    background-color: rgb(223, 172, 8);
}
